
clothes.json
clothes.json
clothes_dataset.json
clothes_dataset_test.json
output/events.out.tfevents.1606272955.sunnyweis-MacBook-Pro.local.30700.0
output/events.out.tfevents.1606356989.sunnyweis-MacBook-Pro.local.65032.0
output/events.out.tfevents.1606358613.sunnyweis-MacBook-Pro.local.65864.0
output/events.out.tfevents.1606358786.sunnyweis-MacBook-Pro.local.65974.0
output/events.out.tfevents.1606360517.sunnyweis-MacBook-Pro.local.66810.0
output/events.out.tfevents.1606360743.sunnyweis-MacBook-Pro.local.66964.0
output/last_checkpoint
output/metrics.json
output/model_final.pth
clothes.json
clothes.json
